<h1><%= @title %></h1>
<% @users.each do |user| %>
<div>
  <h3><a href="/<%= user.id %>"><%= user.first_name %> <%= user.last_name %></a></h3>
  <p><%= user.age %></p>
  <p><%= user.email %></p>
  <p><%= user.nationality %></p>
</div>
<% end %>
